
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <div class="all" style="margin-top:2%;flex-wrap:wrap;">
        <div class="container-card">
            <div class="card" style="color: #000000;">
                <div class="imgBx">
                <img src="static/ncs2.jpeg" alt="">
                </div>
                <div class="content">
                    <h2>National Career Service (NCS) Webinars</h2>
                    <p>The government will launch the second version of the National Career Service (NCS) portal as well as persuade states to roll out labour reforms as part of efforts to further improve the ease of doing business and provide social security for the unorganised labour, particularly gig and platform workers, in 2024.</p>
                    <a href="https://www.ncs.gov.in/_layouts/15/ncsp/calendar.aspx">view more about this</a>
                </div>
            </div>
        </div>
        <div class="container-card">
            <div class="card" style="color: #261f1f;">
                <div class="imgBx">
                <img src="static/linkedin.webp" alt="">
                </div>
                <div class="content">
                    <h2>LinkedIn Learning Webinars</h2>
                    <p>A LinkedIn webinar is an online event hosted on a professional social network called Linkedin, used to educate and engage with audiences.
                        They are typically led by industry professionals who have expertise in the topic being discussed and allow attendees to participate through text chat or audio/video live streams.</p>
                    <a href="https://www.linkedin.com/search/results/events/?keywords=education%20events&origin=CLUSTER_EXPANSION&sid=0Hj
                    ">view more about this</a>
                </div>
            </div>
        </div>
        <div class="container-card">
            <div class="card" style="color: #000000;">
                <div class="imgBx">
                <img src="static/skill.png" alt="">
                </div>
                <div class="content">
                    <h2>Skill India Mission Webinars</h2>
                    <p>Skill India Mission is a flagship initiative of the Government of India. It was launched in 2015 to impart market-relevant skills to the youth of India. This was launched in accordance with World Youth Skills Day, declared for the first time on 15 July 2015. The scheme was launched with the vision of making India self-reliant.</p>
                    <a href="https://webcast.gov.in/skillindia">view more about this</a>
                </div>
            </div>
        </div>
        <div class="container-card">
            <div class="card" style="color: #000000;">
                <div class="imgBx">
                <img src="static/edtech2.jpeg" alt="">
                </div>
                <div class="content">
                    <h2>EdTech India Summit 2024 (Offline Summit)</h2>
                    <p>These awards recognise and celebrate EdTech Companies, Schools and Institutions across India that enable citizens to transform and enrich their lives through the benefits and opportunities created by digital technology. Education sectors across India could apply for recognition under 50+ different categories.</p>
                    <a href="https://www.eduversesummit.org/eduverse-india/#:~:text=Eduverse%20Summit%20India%20is%20a,%2C%20innovators%2C%20and%20educational%20leaders.">view more about this</a>
                </div>
            </div>
        </div>
        <div class="container-card">
            <div class="card" style="color: #000000;">
                <div class="imgBx">
                <img src="static/ficci.jpg" alt="">
                </div>
                <div class="content">
                    <h2>FICCI Higher Education Summit 2024</h2>
                    <p><b>Mr.Rajesh Pankaj</b>  is the director of FICCI
                        It has been a platform for policy advocacy, creating sustainable academia-industry linkages, networking and knowledge sharing and promoting collaborative ventures in academic exchanges, industry-oriented research/ consultancy, and value-added services.</p>
                    <a href="https://www.ficci.in/api/event_details/27171">view more about this</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} </body>
</html> {% endcomment %}