<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
        <script src="static/script.js"></script>

        <title>VikaasVani</title>
    </head>
    <style>
        .sidebar .profile h2 {
            color: #fff;
            margin: 10px 0 0;
            a{
                font-size:16px;
                color:white;
                text-decoration:none;
            }
        }
    </style>
    <body>
        <div class="navbar">
            <button id="toggleButton">☰</button>
            <div id="sidebar" class="sidebar">
                <button id="toggleButton2">☰</button>
                <div class="profile">
                    {%if user.is_authenticated%}
                    <img src="static/usericon.png" alt="User Profile" class="profile-icon">
                    <h2>{{user.username | capfirst}}</h2>
                    <h2><a href="pp.html">View Profile</a></h2>

                    {%else%}
                    <div class="pink-button" style="position:relative;top:30px;">
                        <a class="nav-link" id="nfont"href="register.html"class="heffect" style="font-size:12px;width:100px;">Create an account</a>
                    </div>
                    {%endif%}
                    
                </div>
                <ul class="sidebar-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="about.html#services">Services</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="about.html#CONTACT">Contact</a></li>
                </ul>
            </div>
            <div class="logoContainer">
                <img src="static/logo.jpg" class="logo">
            </div>
            <div class="navItem">
                <div><a href="/">VikaasVani</a></div>
            </div>
            <div id="wrapper" style="margin-left:auto;margin-right:2.5%;">
                <div class="pink-button">
                    {%if user.is_authenticated%}
                    <a class="nav-link" id="nfont"href="logout"class="heffect">Logout</a>
                    {%else%}
                    <a class="nav-link" id="nfont"href="register.html"class="heffect">Join Us</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const toggleButton = document.getElementById('toggleButton');
                const sidebar = document.getElementById('sidebar');
            
                toggleButton.addEventListener('click', () => {
                    if (sidebar.style.left === '-250px') {
                        sidebar.style.left = '0';
                    } else {
                        sidebar.style.left = '-250px';
                    }
                });
            });
            
        </script>
    </body>
    </html>
