<head>
    <script src="static/script.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="ngo">
        <img src="static/ngo.png">
        <div class="overlay">
            <div class="textngo">Why an NGO should partner with us.</div>
        </div>
    </div>
    <div class="list">  
        <p class="p6">
            As an NGO, you have the power to positively impact countless young lives. But are you confident that each of these youngsters is receiving the guidance and orientation they need? We believe that well-oriented students are more likely to develop crucial skills for their future.<br><br>
            <span>What can you do?</span> Encourage students to create an account on our platform, where they can discover courses, job trends, and opportunities to upskill themselves.<br><br><br>
            <span style="font-size:25px;">What are the benefits?</span>
        </p>
        </p>
        <div class="sub-list">
            <ul class="sub-list">  
                <li><span> Acquire Guidance for students from world class educators.</span></li>  
                <li><span> Upskill and improve students for the Job Market.</span></li>  
                <li><span> Students catch up to the latest trends</span></li>  
                <li><span> Get your best students scholarships and Job recommendations</span></li>  
                <li><span> NGOs can gain donations from all over the country</span></li>  
                <li><span> Get Volunteers and Interns for your NGOs</span></li>  
            </ul>  
        </div>
    </div>
    <div class="mainform-ngo">  
		<p class="p6" style="font-size:21px;margin-top:2%;margin-bottom:3%;">
            Fill out this Enrollment form for recognition of your NGO. You will be able to recieve donations and volunteers from our portal.
        </p>
		<form>  
			<div>  
				<label for="ngo-name">NGO Name:</label>  
				<input required="" name="name" id="ngo-name" type="text" required>  
			</div>  
			<div>  
				<label for="contact-no">Contact Number:</label>  
				<input required="" name="contact" id="contact-no" type="tel" required>  
			</div>  
			<div>  
				<label for="email">Email ID:</label>  
				<input required="" name="email" id="email" type="email" required>  
			</div>  
			<div>  
				<label for="ngo-address">NGO Address:</label>  
				<textarea required="" name="address" id="ngo-address" required></textarea>  
			</div>  
			<div class="pop-button"></div><button type="submit" onclick="verify2()">Submit</button>  
		</form>  
	</div>
    <div class="footer">
        <div class="logoContainer">
            <img src="static/logo.jpg" class="logo" style="border-radius:50%;"> 
        </div> 
        <div class="row">
            <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="about.html">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            </ul>
            </div>
            
            <div class="row">
             Copyright © 2024 VikasVaani | Designed by Syntax Squad
            </div>
            </div>
         
         </div> 
    </div>
</body>