<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="static/tc.css">
    <title>Terms & Conditions</title>
</head>
<body>
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms Of Services</h2>
            <p>last edit: 27-07-2024</p>
            <p>Greetings users,</p>
            Introduction<br>
                Welcome to <b>VikasVaani</b>. These terms and conditions outline the rules and regulations for the use of VikasVaani's Website.
                By accessing this website, we assume you accept these terms and conditions. Do not continue to use VikasVaani if you do not agree to take all of the terms and conditions stated on this page.
                
                <p class="p2">Cookies</p>
                <hr>
                We employ the use of cookies. By accessing VikasVaani, you agreed to use cookies in agreement with VikasVaani's Privacy Policy.
                
                Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                
                <p class="p2">License</p>
                <hr>
                
                Unless otherwise stated, VikasVaani and/or its licensors own the intellectual property rights for all material on VikasVaani. All intellectual property rights are reserved. You may access this from VikasVaani for your own personal use subjected to restrictions set in these terms and conditions.
                <br>
                You must not:
                <br>
                <ul>
                    <li>Republish material from VikasVaani.</li>
                    <li>Sell, rent, or sub-license material from VikasVaani.</li>
                    <li>Reproduce, duplicate, or copy material from VikasVaani.</li>
                    <li>Redistribute content from VikasVaani.</li>
                </ul>
                You hereby grant VikasVaani a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats, or media.</p>
        </div>
        <h4>I agree to the <span>Terms Of Services</span> and i real the privacy notice</h4>
        {% comment %} <div class="buttons">
            <button class="btn red-btn"><a href="#">Accept</a></button>
            <button class="btn gray-btn">Decline</button>
        </div> {% endcomment %}
    </div>
</body>
</html>