<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Team</title>
</head>
<body>
    <h1>the team</h1>
    <div class="container">
        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.39 AM (1).jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">Ifrah Rauf</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>

        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.41 AM.jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">Rudra Narayan Sharma</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>

        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.39 AM.jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">Paarth Asri</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>

        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.40 AM (1).jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">Yashika Jha</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>

        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.40 AM.jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">Priyanshu Mohta</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>

        <div class="the-team">
            <div class="pic">
                <img src="WhatsApp Image 2024-07-27 at 3.01.41 AM (1).jpeg" alt="">
            </div>
            <div class="team-content">
                <h3 class="title">MD. Umar</h3>
                <span class="post">abcdefg</span>
            </div>
        </div>
    </div>
</body>
</html>